.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.cv-form, 
.resume {
  flex: 1 1 0;
  min-width: 0;
  padding: var(--margin-l)
}

.cv-form { 
  background-color: greenyellow;
}

.resume {
  background-color: yellowgreen;
}