.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.cv-form, 
.resume {
  flex: 1 1 0;
  min-width: 0;
  padding: var(--margin-l)
}

.cv-form { 
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
}

.resume {
  background-color: yellowgreen;
}

.drop-down-section {
  background-color: whitesmoke;
  border-radius: var(--margin-xs);
  border-width: 1px;

  padding: var(--margin-s);

  border: 1px solid grey;
}

.drop-down-section__header-wrapper {
  border-bottom: 1px solid grey;
  padding: 0 var(--margin-xxs) var(--margin-s) var(--margin-xxs);
  display: flex;
}

.drop-down-section__button {
  margin-left: auto;
}

.form-container {
  padding-top: var(--margin-s);
  padding-bottom: var(--margin-s);
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
}

.label-input-group {
  display: flex; 
  flex-direction: column;
  margin-left: var(--margin-m);
  margin-right: var(--margin-m);
}

.double-input-group-container {
  display: flex;
}

.double-input-group-container > * {
  flex: 1 1 0;
}

.date-input-group-conatiner > * {
  flex: 1 1 0;
}

.remove-education-button {
  margin-left: auto;
  padding: 0 var(--margin-m);
}

/* 
 I think we just need two CSS classes for this. Either it can be a div that divides the space evenly
 between two inputs, or it is a single input that spans the line
*/